@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    min-height: 90vh;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(to left, #3ab0ba, #68ff7d);
}
h1 {
    color: #fff;
    font-size: 5vw;
    letter-spacing: 6px;
}
.pad {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
  width: 100px;
  display: flex;
  height: 100px;
  margin: 10px 0;
  font-size: 20px;
  user-select: none;
  align-items: center;
  -ms-user-select: none;
  background-color: #444;
  -moz-user-select: none;
  justify-content: center;
  -webkit-user-select: none;
  color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 6px -6px black;
  border: 2px solid #2ecc71;
}
.box:hover {
    cursor: pointer;
    background-color: #5e5e5e;
}
.box:active {
    transition: all 0.2s;
    transform: scale(1.1);
    background-color: #2b2b2b;
}
.box.active {
    transition: all 0.2s;
    transform: scale(1.1);
    background-color: #2b2b2b;
}
@media screen and (max-width: 600px) {
    .pad {
        width: 88%;
    }
}
